@use "./partials/reset";
@use "./partials/colors" as *;

body {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(
      0deg,
      rgba(50, 50, 50, 0.5),
      rgba(50, 50, 50, 0.5)
    ),
    url("../images/beer-background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  color: $text-color;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  position: relative;
}
h1 {
  color: $title-color;
  font-size: 3rem;
  margin: 5rem 5rem 2rem;
  text-align: center;
}

form {
  position: absolute;
  top: 18.75rem;
  left: 9.375rem;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-bottom: 2rem;
  border: 2px $text-color solid;
  width: 60%;
  height: 18.75rem;
  margin: 1rem;
  background-color: $card-color;
}

li {
  text-align: center;
  padding: 0 2rem;
}

.cta__button {
  width: 100%;
  background-color: $card-color;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1rem;
  font-weight: 700;
  color: $title-color;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 37.5rem;
  position: absolute;
  right: -3.75rem;
  top: 12.5rem;
}

.card-name {
  font-size: 2rem;
  font-weight: 700;
  color: $title-color;
}

.card-brewery {
}

.card-phone {
}

.card-website {
}
