@use "./partials/reset";
@use "./partials/colors" as *;

body {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(
      0deg,
      rgba(50, 50, 50, 0.7),
      rgba(50, 50, 50, 0.7)
    ),
    url("../images/beer-background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  color: $text-color;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  position: relative;
}
h1 {
  color: $title-color;
  font-size: 3rem;
  margin: 5rem 5rem 2rem;
  text-align: center;
}

a {
  text-decoration: none;
}

form {
  margin: 3rem;

}

input {
  border-radius: 0.25rem;
  padding: 0.25rem;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-bottom: 2rem;
  border: 2px $text-color solid;
  width: 60%;
  height: 18.75rem;
  margin: 1rem;
  background-color: $card-color;
  border-radius: 0.25rem;
}

li {
  text-align: center;
  padding: 0 2rem;
}

.content-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cta__button {
  width: 100%;
  background-color: $card-color;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid $title-color;
  margin-top: 1rem;
  font-weight: 700;
  color: $title-color;

  &:hover {
    color: $card-color;
    background-color: $title-color;
  }
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 37.5rem;
}
.card-name {
  font-size: 2rem;
  font-weight: 700;
  color: $title-color;
}

@media screen and (min-width: 768px) {
  .content-wrapper {
    display: flex;
    flex-direction: row;
  }

  ul {
    width: 80%;
  }
  
}

// .card-brewery {
// }

// .card-phone {
// }

// .card-website {
// }
